.signin__fields__wrapper {
    position: relative;
    background-color: #fff;
    height: 58%;
    width: 81.6%;
    border: 1px solid white;
    border-radius: 13px;
}

.signup__error__message__box {
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
    margin: 3px;
    color: red;
}

.signin__inputs__wrapper {
    position: absolute;
    top: 23%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    .pass__eye {
        cursor: pointer;
    }
}

.signin__inputs__wrapper label {
    font-family: Comfortaa;
}

.signin__inputs__wrapper fieldset {
    border-radius: 11px;
}

.signin__button__wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;

    button {
        width: 26%;
    }
}

.redirect__to__reset__password {
    font-family: Comfortaa;
    position: absolute;
    top: 56%;
    text-align: center;
}

.divider {
    width: 30%;
    position: absolute;
    top: 62.5%;
    text-align: center;
}

.dont_have_account {
    font-family: Comfortaa;
    position: absolute;
    top: 66%;
    text-align: center;
}

.signup2__button__wrapper {
    width: 10%;
    position: absolute;
    top: 70%;
    text-align: center;

    button {
        width: 100%;
        border: 1px solid #8924bf;
        background: white;
        color: #8924bf;
    }
}
